.menu-button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-padding: 10px;
    -fx-background-radius: 15;
}

.menu-button:hover {
    -fx-background-color: #2980b9;
}